.contacts-list {
    flex: 30% 0 0;
    background: rgb(189, 189, 189);
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: #fff;
        width: 16px
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 4px solid #fff;
    }

    .list-item {
        p {
            text-align: left;
            padding: 0;
            border-bottom: 2px solid rgb(141 140 140);
            margin-left: 5%;
            color: #616161;
        }
        ul {
            list-style-type: none;
            padding: 0;
            li {
                text-align: left;
                cursor: pointer;
                padding: 2% 2% 2% 12%;
                font-size: 24px;
                position: relative;
                &:hover {
                    cursor: pointer;
                    background: #ddd;
                }
                &.selected {
                    background-color: rgb(11, 87, 208);
                    color: #fff;

                }
                span {
                    position: absolute;
                    right: 10px;
                    font-size: 32px;
                    padding: 2px;
                    color: #fff;
                    background: #ff0000;
                    border-radius: 50%;
                    width: 13px;
                    height: 10px;
                    text-align: left;
                    font-weight: bold;
                    line-height: 4px;
                    cursor: pointer;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}